In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import os
import datetime, time
import re
pd.set_option('max_columns', 50)
mpl.rcParams["lines.linewidth"] = 2
# чтобы графики строились непосредственно в блокноте iPython
%matplotlib inline

In [2]:
#Каталог из которого будем брать файлы 
directory = ""
#directory = r'c:/users/Вадим/Work/files2'
directory = r'C:/Users/Вадим/Documents/Phyton komus/synonyms/test'

#Получаем список файлов в переменную files 
files = os.listdir(directory) 
print (files)

['test-new-syn.csv', 'test-old.csv']

In [3]:
#file_search_query = "syn_from_hmc_test.csv.txt" #файл база синонимов, с которым будем работать
#file_new_synonyms = "new_syn.csv" #файл: список новых синонимов, который хотим добавить
file_search_query = "test-old.csv" #файл база синонимов, с которым будем работать
file_new_synonyms = "test-new-syn.csv" #файл: список новых синонимов, который хотим добавить? (заголовок должен быть удалён)


directory_path = ""
#directory = os.path.normcase(os.path.join(directory, file_search_sell)) 
directory_path = os.path.normpath(os.path.join(directory, file_search_query))
#directory = os.path.join(directory, file_search_sell)
print (directory_path)

C:\Users\Вадим\Documents\Phyton komus\synonyms\test\test-old.csv

In [4]:
#df = pd.read_excel(r"c:\users\вадим\work\excel data files\example2.xlsx")
#df = pd.read_excel(directory_path)
#df = pd.read_csv(directory_path, ',')

#from pandas import read_csv
#print(os.path.dirname(os.path.realpath("1"))) #смотрим какой путь выбирает система)
os.chdir(directory) #меняем путь
#print(os.path.dirname(os.path.realpath("1"))) #смотрим какой путь выбирает система)
#d = {columns:"a1", "a2"}
#df = pd.DataFrame(d)
#df.head() #покажем выборку полученного dataset

In [5]:


df = pd.read_csv(file_search_query, sep =";", header = None,  names = ["search_query","synonym"]) #вводим имя файла, который будем преобразовывать и ";" разделитель

In [6]:
df.shape #размерность матрицы
df.head() #покажем выборку полученного dataset

              search_query             synonym
0  Miles from Tomorrowland  тыква, банан арбуз
1                 Military            милитари
2             Milk Frother         неприменимо
3                  Zenit3D    зенитттт, тестыщ

In [7]:
#df.rename()
#df = df.rename(columns={
#    'unit': 'search_query', 
#    'unit, юнит': 'synonym'
#})
# OR
#df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'}, inplace=True)
#df.head()

#Колличество поисковых запросов в выгрузке

In [8]:
len1 = len(df.index)
print(len1)

4

In [9]:
#Чистим от лишинх пробелов "поисковые запросы"
df['search_query'] = df['search_query'].apply(lambda x: str(x).strip(' ').lower())
df['search_query'] = df['search_query'].apply(lambda x: re.sub(r'\s+', ' ', str(x) )) #удаляем лишние пробелы внутри слов
df.head(10)

              search_query             synonym
0  miles from tomorrowland  тыква, банан арбуз
1                 military            милитари
2             milk frother         неприменимо
3                  zenit3d    зенитттт, тестыщ

In [10]:
# sorting by first name 
df.sort_values("search_query", inplace=True) 

#объединяем строки
df["ab"] = df.search_query + " " + df.synonym

In [11]:
df.head()

,search_query,synonym,ab
0,miles from tomorrowland,"тыква, банан арбуз","miles from tomorrowland тыква, банан арбуз"
1,military,милитари,military милитари
2,milk frother,неприменимо,milk frother неприменимо
3,zenit3d,"зенитттт, тестыщ","zenit3d зенитттт, тестыщ"

In [12]:
#определяем дубли true или false
df.drop_duplicates(inplace=True)
#df.head()

In [13]:
df.reset_index(drop=True, inplace = True)
del df['ab']
df.head()

              search_query             synonym
0  miles from tomorrowland  тыква, банан арбуз
1                 military            милитари
2             milk frother         неприменимо
3                  zenit3d    зенитттт, тестыщ

In [14]:
len2 = len(df.index) #кол-во строк в таблице после удаления дубликатов
len3 = len1 - len2
print('Удалено дубликатов: '+ str(len3))

Удалено дубликатов: 0

## Добавление синонимов

In [15]:
df_syn = pd.read_csv(file_new_synonyms, sep =";", header = None,  names = ["search_query","new_synonym"], encoding='utf-8') #вводим имя файла, который будем преобразовывать и ";" разделитель
df_syn.shape #размерность матрицы
df_syn.head() #покажем выборку полученного dataset

    search_query         new_synonym
0   XYZ Printing         хузпринтинг
1         X NEXX            икс некс
2    Yves Rocher  ив роше, ивс рошер
3        Zenit3D            зенит 3д
4  Zenith z роль       зенит зе роль

In [16]:
# подготовка файла к обработке
len_syn1 = len(df_syn.index)
print(f"Строк синонимов: {len_syn1}")

Строк синонимов: 9

In [17]:
# Находим пустые строки (без синонимов, без слов)
df_is_null_syn = df_syn['new_synonym'].isnull()
df_is_null_syn = df_syn[df_is_null_syn]
#NONE_VIN = (df["VIN"].isnull()) | (df["VIN"].apply(lambda x: str(x).isspace()))
#df_null =df[NONE_VIN] 
df_is_null_syn.head(50)
cnt_null_syn = len(df_is_null_syn.index)
print(f"Кол-во пустых синонимов: {cnt_null_syn}")

Кол-во пустых синонимов: 0

In [18]:
#Удаляем пустые строки синонимов
df11 = df_syn.loc[~df_syn['search_query'].isin(df_is_null_syn['search_query'])]
#df11.head()
df_syn = df11
cnt_null_syn1 = len(df_syn.index)
print(f"Кол-во строк без пустых синонимов: {cnt_null_syn1}")

Кол-во строк без пустых синонимов: 9

In [19]:
#разбиваем слитые через заяптую синонимы, на отдельные слова (токены)
# df_syn['search_query'].apply(lambda x: str(x).strip(' ').lower()) new_synonym
def my_func_token_comma(text):
    text_arr = text.split(",")
    text_arr_2 = []
    for i in text_arr:
        text_arr_2.append(i.strip())
    new_text = ", ".join(text_arr_2)
    
    return new_text;

df_syn['new_synonym'] = df_syn['new_synonym'].apply(lambda x: str(my_func_token_comma(x)))
df_syn.head()

    search_query         new_synonym
0   XYZ Printing         хузпринтинг
1         X NEXX            икс некс
2    Yves Rocher  ив роше, ивс рошер
3        Zenit3D            зенит 3д
4  Zenith z роль       зенит зе роль

In [20]:
# sorting by first name 
df_syn.sort_values("search_query", inplace=True) 

#объединяем строки
df_syn["ab"] = df_syn.search_query + " " + df_syn.new_synonym
df.head()

              search_query             synonym
0  miles from tomorrowland  тыква, банан арбуз
1                 military            милитари
2             milk frother         неприменимо
3                  zenit3d    зенитттт, тестыщ

In [21]:
#формируем список дублей которые будут удалены - для отчётности
df_syn_dubles = df_syn[df_syn.duplicated(keep=False)]
df_syn_dubles.reset_index(drop=True, inplace = True)
df_syn_dubles2 = df_syn_dubles.drop_duplicates().copy()
df_syn_dubles2.reset_index(drop=True, inplace = True)
df_syn_dubles2 = df_syn_dubles2.drop(['ab'], axis=1)
df_syn_dubles2.head()

Empty DataFrame
Columns: [search_query, new_synonym]
Index: []

In [22]:
#Считаем кол-во дублей
#counts_df_syn = df_syn.groupby('ab').size().reset_index(name='counts')
#counts_df_syn.head()

In [23]:
#Формируем таблицу с дублями и их кол-вом
#df_syn_filtered_1 = counts_df_syn.query('counts > 1')
#df_syn_filtered_1.head(40)

In [24]:
#определяем дубли и удаляем их
df_syn.drop_duplicates(inplace=True)
#df.head()
df_syn.reset_index(drop=True, inplace = True)
df_syn.head(10)

,search_query,new_synonym,ab
0,MIE Romeo,слово,MIE Romeo слово
1,Virtual Education,"виртуалэдьюкейшен, виртуальное образование","Virtual Education виртуалэдьюкейшен, виртуальн..."
2,W-era,"ви-ера, в-ера","W-era ви-ера, в-ера"
3,Weraаааа,"ви-ера, в-ера","Weraаааа ви-ера, в-ера"
4,X NEXX,икс некс,X NEXX икс некс
5,XYZ Printing,хузпринтинг,XYZ Printing хузпринтинг
6,Yves Rocher,"ив роше, ивс рошер","Yves Rocher ив роше, ивс рошер"
7,Zenit3D,зенит 3д,Zenit3D зенит 3д
8,Zenith z роль,зенит зе роль,Zenith z роль зенит зе роль

In [25]:
len_syn2 = len(df_syn.index) #кол-во строк в таблице после удаления дубликатов
len_syn3 = len_syn1 - len_syn2
print('Удалено дубликатов в синонимах: '+ str(len_syn3))

Удалено дубликатов в синонимах: 0

In [26]:
# Поиск одинаковых слов
#for i in range(len(m_arr_search)):
#def my_func_search_similar(mf_dataframe): #параметры: таблица
#    m_len = len(mf_dataframe.index)
    #for i in range(m_len):
    
        
        
#    return m_len;

#def my_f_q (x):
    
 #   return x;

In [27]:
df_syn.dtypes #смотрим на типы данных в таблице

search_query    object
new_synonym     object
ab              object
dtype: object

In [28]:
df_syn['search_query'] = df_syn['search_query'].astype(str)

In [29]:
df_syn.dtypes

search_query    object
new_synonym     object
ab              object
dtype: object

In [31]:
#df_syn['search_query'] = df_syn['search_query'].apply(lambda x: x.str.strip(' ') if x.dtype == "object" else x)
#удаляем лишние пробелы в каждой ячейке основной фразы (внутри фразы пробелы не удаляются) и переводим в нижний регистр
df_syn['search_query'] = df_syn['search_query'].apply(lambda x: str(x).strip(' ').lower())
df_syn['search_query'] = df_syn['search_query'].apply(lambda x: re.sub(r'\s+', ' ', str(x) )) #удаляем лишние пробелы внутри слов
df_syn.head(10)

,search_query,new_synonym,ab
0,mie romeo,слово,MIE Romeo слово
1,virtual education,"виртуалэдьюкейшен, виртуальное образование","Virtual Education виртуалэдьюкейшен, виртуальн..."
2,w-era,"ви-ера, в-ера","W-era ви-ера, в-ера"
3,weraаааа,"ви-ера, в-ера","Weraаааа ви-ера, в-ера"
4,x nexx,икс некс,X NEXX икс некс
5,xyz printing,хузпринтинг,XYZ Printing хузпринтинг
6,yves rocher,"ив роше, ивс рошер","Yves Rocher ив роше, ивс рошер"
7,zenit3d,зенит 3д,Zenit3D зенит 3д
8,zenith z роль,зенит зе роль,Zenith z роль зенит зе роль

In [32]:
#формируем список дублей после обработки имени, которые будут удалены - для отчётности
df_syn_dubles3 = df_syn[df_syn.duplicated(['search_query'], keep=False)].copy()
df_syn_dubles3.reset_index(drop=True, inplace = True)
df_syn_dubles3["ab"] = df_syn_dubles3.search_query + " " + df_syn_dubles3.new_synonym
df_syn_dubles4 = df_syn_dubles3.drop_duplicates().copy()
df_syn_dubles4.reset_index(drop=True, inplace = True)
df_syn_dubles4 = df_syn_dubles4.drop(['ab'], axis=1)
df_syn_dubles4.head(50) #список дублей (после удаления пробелов и приведения к нижнему регистру search_query)

Empty DataFrame
Columns: [search_query, new_synonym]
Index: []

In [33]:
df_syn_dubles3.head()

Empty DataFrame
Columns: [search_query, new_synonym, ab]
Index: []

In [34]:
len_syn_d3 = len(df_syn_dubles3.index) 
print(f"Найдено дубликатов: {len_syn_d3}")

Найдено дубликатов: 0

In [35]:
#удаляем дубли
df_test = df_syn.copy()
df_test = df_test.drop(['ab'], axis=1)

df_test["ab"] = df_test.search_query + " " + df_test.new_synonym
df_test = df_test.drop_duplicates("ab")
df_test.reset_index(drop=True, inplace = True)
df_test = df_test.drop(['ab'], axis=1)

df_test.head()

        search_query                                 new_synonym
0          mie romeo                                       слово
1  virtual education  виртуалэдьюкейшен, виртуальное образование
2              w-era                               ви-ера, в-ера
3           weraаааа                               ви-ера, в-ера
4             x nexx                                    икс некс

In [36]:
# Удаляем поисковые фразы (search_query) содержащие спец символы

In [37]:
def f_find_s4del(a):
    cnt = 0
    list_err = [".","-","_",";","'","&","(",")","№","#"] #список символов которых не должно быть в строке
    for el in list_err:
        if(str(a).find(el) > 0):
            cnt += 1
    if cnt > 0: return 1
    return 0

df13 = df_test
df13["for_del"] = df_test['search_query'].apply(lambda x: f_find_s4del(x))
df13 = df13[df13['for_del'] == 1]
df13.head() #список неправильных синонимов

  search_query    new_synonym  for_del
2        w-era  ви-ера, в-ера        1

In [38]:
cnt_null_syn4 = len(df13.index)
print(f"Кол-во строк неправильных фраз: {cnt_null_syn4}")

Кол-во строк неправильных фраз: 1

In [40]:
df_test

        search_query                                 new_synonym  for_del
0          mie romeo                                       слово        0
1  virtual education  виртуалэдьюкейшен, виртуальное образование        0
2              w-era                               ви-ера, в-ера        1
3           weraаааа                               ви-ера, в-ера        0
4             x nexx                                    икс некс        0
5       xyz printing                                 хузпринтинг        0
6        yves rocher                          ив роше, ивс рошер        0
7            zenit3d                                    зенит 3д        0
8      zenith z роль                               зенит зе роль        0

In [41]:
#Удаляем пустые строки синонимов
df14 = df_test.copy()
df14 = df14.loc[~df14['search_query'].isin(df13['search_query'])]
cnt_null_syn5 = len(df14.index)
print(f"Кол-во строк без неправильных синонимов: {cnt_null_syn5}")

Кол-во строк без неправильных синонимов: 8

In [42]:
df_test = df14.drop(['for_del'], axis=1)
df_test.head()

        search_query                                 new_synonym
0          mie romeo                                       слово
1  virtual education  виртуалэдьюкейшен, виртуальное образование
3           weraаааа                               ви-ера, в-ера
4             x nexx                                    икс некс
5       xyz printing                                 хузпринтинг

In [43]:
#Пройтись по таблице и найти повторяющиеся синонимы (дубли) и подготовить стандартизивонный список синонимов

#m_a = "new word1"
#m_b = " syn1, new word1, syn2,   syn   2, new word1, new    word1, syn3, new word1, new       word1"
#m_a = "unnika land"
#m_b = "unnika land, синон.им    аа/.+, иии ффф, unnika land, аника ланд, уника ленд, unnika land"
m_a = "литр нитр"
m_b = "л, лkk., лr., la.g festa., синоним аа, иии ффф, иии ффф.  , иии фф*ф, unnika land, , , аника ланд, уника ленд, unnika land, , , "


def my_func_del_dubl(list_a):
    list_not_dubl = []    
    for i in list_a:    
        if not i in list_not_dubl:  
            list_not_dubl.append(i)
    
    return list_not_dubl


def my_func_search_similar(a, b, is_synonyms):
    
    
    
    a = str(a)
    #if a == "unit": print("ok")
    a = re.sub(r'\s+', ' ', a)
    a = a.strip(' ,')
    

    b = re.sub(r'\s+', ' ', str(b)) #удаляем из строки лишние пробелы
    b = b.split(', ') # разделяем строку на элементы и формируем список
    
    #удаляем повторяющиеся строки (синонимы)
    #new_b = set(b) #перобразуем в список в множество, в множестве могут быть только уникальные значения
    #new_b = list(new_b) #формируем списко обратно
    
    
    new_b = my_func_del_dubl(b)
    
    m_find = 0
    m_find_position = []
    m_find_empty = 0
    m_warning = []
    m_cnt_warning = 0
    
    #Зачищаем от спец символов
    for i in range(len(new_b)):
        new_b[i] = new_b[i].strip(' ,') #удалаяем лишние символы: " " и "," в начале и в конце строки и в середине
        #Убираем спец символы. 
        #Нельзя убирать спецсимволы: - + & / . !
        new_b[i] = new_b[i].replace('%','').replace('$','').replace('@','').replace('*','')
        #удаляем точку в начале и конце синонима, если его длинна больше 5 символов
        if (len(new_b[i]) > 5):
            new_b[i] = new_b[i].strip('.')
            #fff = str(new_b[i])
            #print(fff)
        
        
        #проверяем синонимы на наличие лишних точек в словах и если нужно то удаляем вручную из CSV файла
        if (is_synonyms == 1 and (len(new_b[i]) < 6)):
            if(new_b[i].find(".") > 0):
                #print("[Warning] Синоним с точкой: " + str(new_b[i]))
                #m_warning.append("[Warning] Синоним с точкой: " + str(new_b[i])) 
                m_warning.append(" " + str(new_b[i]))
                m_cnt_warning =+1
                #print(m_warning)

    
    #Удаляем дубли после обработки
    new_b = my_func_del_dubl(new_b)

    #Формируем новый список без пустых значений
    new_list = []
    for i in range(len(new_b)):
        if (new_b[i] != ''): #ищем пустые синонимы в списке
            new_list.append(new_b[i])  
    new_b = new_list
    
    #Ищем позицию где есть совпадение
    for i in range(len(new_b)):
        if (a == new_b[i]): #ищем
            m_find = m_find + 1
            m_find_position.append(i)
                
    
    if m_find == 0: #не нашли синоним, добавляем в начало списка
        empty_list = []
        empty_list.append(a) 
        new_b = empty_list + new_b
      
    cnt = 0
    if m_find > 0:
        for i in range(len(m_find_position)):
            m_find_position[i] = m_find_position[i] - cnt
            del new_b[m_find_position[i]] #удаляем синоним из списка
            cnt = cnt + 1
            
        empty_list = []
        empty_list.append(a) #добавляем синоним в начало списка
        new_b = empty_list + new_b
    
    
    
    #print("\n\nСтарая строка: "+str(b))    
    #print("Новая строка:  "+str(new_b))
    #print("Найдено совподений c запросом:  "+str(m_find))
    listToStr = ', '.join(map(str, new_b)) #отдаем строку
    
    m_warning1 = ', '.join(map(str, m_warning))
    
    
    #return a, listToStr;
    #print(a)
    #print(listToStr)
    if(is_synonyms == 1):
        #return pd.Series((listToStr, m_warning1))
        return pd.Series((listToStr,  m_warning1))
    
    return listToStr;
    
    #return a, new_b;


print(my_func_search_similar(m_a,m_b, 1))

0    литр нитр, л, лkk., лr., la.g festa, синоним а...
1                                           лkk.,  лr.
dtype: object

In [44]:
#Уделаение дублей
#list1 = ['b','c','d','b','c','a','a']    
#list2 = []    
#for i in list1:    
#    if not i in list2:  
#        list2.append(i)    
#print(list2)

#d = {"price":pd.Series([1, 2, 3], index=['v1', 'v2', 'v3']), "count": pd.Series([10, 12, 7], index=['v1', 'v2', 'v3'])}
#d = {"price":pd.Series([1, 2, 3]), "count": pd.Series([10, 12, 7])}
#d = {"price":pd.Series(["1"]), "count": pd.Series(["2"])}
#df1 = pd.DataFrame(d)
#df1 = pd.DataFrame({"price":pd.Series(["1"]), "count": pd.Series(["2"])})
#df1.head()

In [45]:
df_test.head()

        search_query                                 new_synonym
0          mie romeo                                       слово
1  virtual education  виртуалэдьюкейшен, виртуальное образование
3           weraаааа                               ви-ера, в-ера
4             x nexx                                    икс некс
5       xyz printing                                 хузпринтинг

In [46]:
#df_test['t1'] = df_test.apply(lambda x: my_func_search_similar(x['search_query'], x['new_synonym']), axis=1)
df_test[['new_synonym', 'erros']] = df_test.apply(lambda x: my_func_search_similar(x['search_query'], x['new_synonym'], 1), axis=1)
#df_test.apply(lambda x: my_func(x['new_synonym'], 1), axis=1)

In [47]:
df_test.head(20) #Получили таблицу с правильными синонимами, почищенными от дублей внутри и нормализованной для обработки

        search_query                                        new_synonym erros
0          mie romeo                                   mie romeo, слово
1  virtual education  virtual education, виртуалэдьюкейшен, виртуаль...
3           weraаааа                            weraаааа, ви-ера, в-ера
4             x nexx                                   x nexx, икс некс
5       xyz printing                          xyz printing, хузпринтинг
6        yves rocher                    yves rocher, ив роше, ивс рошер
7            zenit3d                                  zenit3d, зенит 3д
8      zenith z роль                       zenith z роль, зенит зе роль

In [66]:
#!!!Этот блок в разработке!!!
#Проверяем синонимы на фразы и корректность их применения
m_a = "xyz printing"
m_b = "xyz printing, хузпринтинг, 21313"
def my_func_del_autofrases(a, b): #удаляем фразу если она есть в синонимах
    a = str(a)
    a_arr = a.split(' ')
    b = str(b).split(', ')
    #определяем фраза это или однословный токен
    new_b = []
    if(len(a_arr) > 1): #если фраза состоит из 2х и более слов, то удаляем её из синонимов
        for i in range(len(b)):
            if a != b[i]:
                new_b.append(b[i])
            #print(b[i])
    
    
    listToStr = ', '.join(map(str, new_b)) #отдаем строку
    return listToStr;

print(my_func_del_autofrases(m_a, m_b))

хузпринтинг, 21313

In [ ]:
#Формируем дата фрейм с ошибками и удаляем лишний столбец
df_erros_synomyms = df_test[df_test['erros'] != ""]
df_erros_synomyms.reset_index(inplace=True) #Переиндексируем
df_erros_synomyms.head(20)

In [ ]:
df_test.drop('erros', axis=1, inplace=True) #удаляем из столбца лишнию информацию

# Готовим данные для сортировки

In [ ]:
df_test = df_test.rename(columns={'new_synonym': 'synonym'})
df_test['list'] = 2 # 2 это новый список синонимов / 1 это старый список синонимов
df_test.head(5)

In [ ]:
df['list'] = 1
#df.head(5)

## Объединение старых синонимов с новым списком синонимов

In [ ]:

df_newlist = pd.concat([df, df_test], ignore_index=True)

In [ ]:
df_newlist.head(10)

In [ ]:
#сохраняем файл с добаленными синонимами
time_now = datetime.datetime.now()
t1 = time_now.strftime("%Y-%m-%d %I-%M%p")
file_name ="синонимы для добавления после обработки " + t1
writer = pd.ExcelWriter(file_name + '.xlsx')
df_test.to_excel(writer, f"{t1}" )
writer.save()
#df_test.to_csv("тест_синонимы", sep=';', encoding='utf-8', index=True, header=False) #проверяем выгрузку
#df_newlist.to_csv("тест", sep=';', encoding='utf-8', index=True, header=False) #проверяем выгрузку

In [ ]:
#проверка на наличие пустых значений

In [ ]:
#df_newlist = df_newlist.groupby('search_query').agg(synonym=('synonym', ', '.join))
#df_newlist.to_csv("тест2", sep=';', encoding='utf-8', index=True, header=False) #проверяем выгрузку
#df_newlist = df_newlist.groupby(['list','search_query']).agg(synonym=('synonym', ', '.join))
df_newlist = df_newlist.groupby('search_query').agg(synonym=('synonym', ', '.join))
#df_newlist.to_csv("тест2", sep=';', encoding='utf-8', index=True, header=False) #проверяем выгрузку
df_newlist.head(10)

In [ ]:
md2 = {"search_query":np.array(["abat", "ntcn", "test"]), #создаём тестовый набор данных для проверки алгоритма
       "synonym": np.array(["nhj, njn", 12, 7])}
mdf2 = pd.DataFrame(md2, index=['0', '1', '2'])
print(mdf2)

In [ ]:
print(df_test)

In [ ]:
"""
df_new_tab = df
len_group1 = len(df.index)
len_group2 = len(df_test.index)
m_cnt_find_dubles = 0 #метрика для подсчёта дублей
m_x = len(mdf2.index)
i = 0
while i < 3:
#    df_test.iloc[1, df.columns.get_loc('search_query')]
    #m_name_sq = df.iloc[i, df.columns.get_loc('search_query')]
    #m_name_sq = "1-day acuvue trueye"
    m_name_sq = mdf2.iloc[i, df.columns.get_loc('search_query')]
    print(m_name_sq)
    i2 = 0
    while i2 < 3:
        #print(df_test.iloc[i2, df.columns.get_loc('search_query')])
        m_name_sq2 = df_test.iloc[i2, df.columns.get_loc('search_query')] #синонимы
        if (str(m_name_sq2) == str(m_name_sq)):
            #print("нашел")
            
            
            
            print(df_test.iloc[i2, df.columns.get_loc('search_query')])
            m_cnt_find_dubles +=1
            
        #print("\n str2 "+str(m_name_sq2))
        #print("\n str1 "+str(m_name_sq))
        
        
        
        i2 += 1
    #добавляем строку в конец таблицы
    m_x += 1
    mdf2.loc[m_x] = {"search_query": "1", "synonym": "2"} #создаём тестовый набор данных для проверки алгоритма 
    i += 1

    
print(m_cnt_find_dubles)
"""

In [ ]:
#mdf2.head(6)

In [ ]:
#df_test.drop('erros', axis=1, inplace=True) #удаляем из столбца лишнию информацию
df_newlist.reset_index(inplace = True)
df_newlist.to_csv("тест3", sep=';', encoding='utf-8', index=True, header=False) #проверяем выгрузку
df_newlist.head(10)

In [ ]:
df_newlist['synonym'] = df_newlist.apply(lambda x: my_func_search_similar(x['search_query'], x['synonym'], 0), axis=1)

In [ ]:
df_newlist.head(10)

In [ ]:
#Сохраняем результаты обработки в csv файл
time_now = datetime.datetime.now()
file_name = "old and add new synonyms " + time_now.strftime("%Y-%m-%d %I-%M%p") + ".csv"
df_newlist.to_csv(file_name, sep=';', encoding='utf-8', index=False, header=False)

In [ ]:
print("Файл создан успешно: " + file_name)

count_old_syn = len(df.index) #кол-во строк в таблице синонимов
count_add_syn = len(df_test.index) #кол-во строк в таблице синонимов для добавления
count_new_syn = len(df_newlist.index) #кол-во строк в таблице синонимов после объединения
len4 = count_new_syn - count_old_syn
print('\n\nКол-во синонимов было: '+ str(count_old_syn))
print('Кол-во синонимов для добавления (без дублей): '+ str(count_add_syn))
print('Новых синонимов добавлено: '+ str(len4))
print('Кол-во уже существующих синонимов, обновлено: '+ str(count_add_syn - len4))
print('Всего синонимов '+ str(count_old_syn + len4))

cnt_err = len(df_erros_synomyms.index)

print('\n\nКол-во возможных ошибок в синонимах: ' + str(cnt_err))
df_erros_synomyms.head(10)

In [ ]:
file_name = "report " + time_now.strftime("%Y-%m-%d %I-%M%p")
writer = pd.ExcelWriter(file_name + '.xlsx')

df_syn_dubles2.to_excel(writer, "Дубли")
df_syn_dubles4.to_excel(writer, "Дубли после обработки")
df13.to_excel(writer, "Неправльные синонимы") #список неправильных синонимов
df_is_null_syn.to_excel(writer, "Пустые синонимы")

writer.save()